.hidden {
  display: none;
}

.description-page {
  width: 100%;
  position: relative;
  //min-height: 100vh;

  .desc-hero {
    width: 100%;
    //min-height: 100vh;
    background: url("../images/hero2.jpg") no-repeat center top / 100% 100%;
    background-size: cover;


    .dp-instructions {
      text-align: center;
      font-family: 'TCCC-UnityHeadline-Medium', sans-serif;
      padding-top: 5rem;
      @include font-size-vw-desktop(20);
      @include line-height-vw-desktop(20);
      @include responsive('fullhd') {
        padding-top: 7rem;
      }
      @include responsive(){
        font-size: 3vw;
        line-height: 3vw;
        padding: 6rem 2rem 0 2rem;

      }
      @include responsive('tablet'){
        font-size: 2vw;
        line-height: 2vw;
        padding: 15rem 2rem 0 2rem;

      }

      span {
        color: #E51F2A;
        font-family: 'TCCC-UnityHeadline-Black', sans-serif;
      }
    }

    .premii-display {
      display: flex;
      margin: 8.4rem auto 0 auto;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 50%;
      @include responsive(){
        //width: 100%;
        flex-direction: column;
        margin: 2rem auto;
      }
      @include responsive('tablet'){
        width: 100%;
        justify-content: space-evenly;
        padding-bottom: 2rem;
        margin: 10rem auto 0 auto;
      }

      .display-p {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include responsive(){
          flex-direction: column;
          justify-content: center;

        }
        @include responsive('tablet'){
          flex-direction: column;


        }

        .d-img {
          width: 65%;
          @include responsive('tablet'){
            width: 100%;
          }
        }

        .d-text {
          @include font-size-vw-desktop(20);
          @include line-height-vw-desktop(20);
          font-family: 'TCCC-UnityHeadline-Black', sans-serif;
          color: #E51F2A;
          @include responsive(){
           font-size: 3vw;
            line-height: 3vw;
            text-align: center;

          }
          @include responsive('tablet'){
            font-size: 2vw;
            line-height: 2vw;
            text-align: center;

          }
        }


      }

    }
    .btn-container{
      width: 100%;
      text-align: center;
      margin-top: 1rem;
      padding-bottom: 2rem;
    }
  }

}