
@font-face{
  font-family: 'TCCC-UnityCondensed-Bold';
  font-weight: 700;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
  src: url("./TCCC-UnityCondensed-Bold.otf") format('opentype'),
  url("./TCCC-UnityCondensed-Bold.eot?#iefix") format('eot'),
  url("./TCCC-UnityCondensed-Bold.svg") format('svg'),
  url("./TCCC-UnityCondensed-Bold.ttf") format('truetype'),
  url("./TCCC-UnityCondensed-Bold.woff2") format('woff2'),
  url("./TCCC-UnityCondensed-Bold.woff") format('woff');
}

@font-face{
  font-family: 'TCCC-UnityCondensed-Medium';
  font-weight: 600;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
  src: url("./TCCC-UnityCondensed-Medium.otf") format('opentype'),
  url("./TCCC-UnityCondensed-Medium.eot?#iefix") format('eot'),
  url("./TCCC-UnityCondensed-Medium.svg") format('svg'),
  url("./TCCC-UnityCondensed-Medium.ttf") format('truetype'),
  url("./TCCC-UnityCondensed-Medium.woff2") format('woff2'),
  url("./TCCC-UnityCondensed-Medium.woff") format('woff');
}

@font-face{
  font-family: 'TCCC-UnityHeadline-Black';
  font-weight: 800;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
  src: url("./TCCC-UnityHeadline-Black.otf") format('opentype'),
  url("./TCCC-UnityHeadline-Black.eot?#iefix") format('eot'),
  url("./TCCC-UnityHeadline-Black.svg") format('svg'),
  url("./TCCC-UnityHeadline-Black.ttf") format('truetype'),
  url("./TCCC-UnityHeadline-Black.woff2") format('woff2'),
  url("./TCCC-UnityHeadline-Black.woff") format('woff');
}

@font-face{
  font-family: 'TCCC-UnityHeadline-Bold';
  font-weight: 700;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
  src: url("./TCCC-UnityHeadline-Bold.otf") format('opentype'),
  url("./TCCC-UnityHeadline-Bold.eot?#iefix") format('eot'),
  url("./TCCC-UnityHeadline-Bold.svg") format('svg'),
  url("./TCCC-UnityHeadline-Bold.ttf") format('truetype'),
  url("./TCCC-UnityHeadline-Bold.woff2") format('woff2'),
  url("./TCCC-UnityHeadline-Bold.woff") format('woff');
}

@font-face{
  font-family: 'TCCC-UnityHeadline-Light';
  font-weight: 300;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
  src: url("./TCCC-UnityHeadline-Light.otf") format('opentype'),
  url("./TCCC-UnityHeadline-Light.eot?#iefix") format('eot'),
  url("./TCCC-UnityHeadline-Light.svg") format('svg'),
  url("./TCCC-UnityHeadline-Light.ttf") format('truetype'),
  url("./TCCC-UnityHeadline-Light.woff2") format('woff2'),
  url("./TCCC-UnityHeadline-Light.woff") format('woff');
}

@font-face{
  font-family: 'TCCC-UnityHeadline-Medium';
  font-weight: 600;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
  src: url("./TCCC-UnityHeadline-Medium.otf") format('opentype'),
  url("./TCCC-UnityHeadline-Medium.eot?#iefix") format('eot'),
  url("./TCCC-UnityHeadline-Medium.svg") format('svg'),
  url("./TCCC-UnityHeadline-Medium.ttf") format('truetype'),
  url("./TCCC-UnityHeadline-Medium.woff2") format('woff2'),
  url("./TCCC-UnityHeadline-Medium.woff") format('woff');
}


@font-face{
  font-family: 'TCCC-UnityText-Medium_1';
  font-weight: 600;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
  src: url("./TCCC-UNITYTEXT-MEDIUM_1.otf") format('opentype'),
  url("./TCCC-UNITYTEXT-MEDIUM_1.eot?#iefix") format('eot'),
  url("./TCCC-UNITYTEXT-MEDIUM_1.svg") format('svg'),
  url("./TCCC-UNITYTEXT-MEDIUM_1.ttf") format('truetype'),
  url("./TCCC-UNITYTEXT-MEDIUM_1.woff2") format('woff2'),
  url("./TCCC-UNITYTEXT-MEDIUM_1.woff") format('woff');
}

@font-face{
  font-family: 'TCCC-UnityText-Black';
  font-weight: 800;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
  src: url("./TCCC-UnityText-Black.otf") format('opentype'),
  url("./TCCC-UnityText-Black.eot?#iefix") format('eot'),
  url("./TCCC-UnityText-Black.svg") format('svg'),
  url("./TCCC-UnityText-Black.ttf") format('truetype'),
  url("./TCCC-UnityText-Black.woff2") format('woff2'),
  url("./TCCC-UnityText-Black.woff") format('woff');
}

@font-face{
  font-family: 'TCCC-UnityText-Medium';
  font-weight: 600;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
  src: url("./TCCC-UnityText-Medium.otf") format('opentype'),
  url("./TCCC-UnityText-Medium.eot?#iefix") format('eot'),
  url("./TCCC-UnityText-Medium.svg") format('svg'),
  url("./TCCC-UnityText-Medium.ttf") format('truetype'),
  url("./TCCC-UnityText-Medium.woff2") format('woff2'),
  url("./TCCC-UnityText-Medium.woff") format('woff');
}

@font-face{
  font-family: 'TCCC-UnityText-Regular';
  font-weight: 400;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
  src: url("./TCCC-UnityText-Regular.eot?#iefix") format('eot'),
  url("./TCCC-UnityText-Regular.svg") format('svg'),
  url("./TCCC-UnityText-Regular.ttf") format('truetype'),
  url("./TCCC-UnityText-Regular.woff2") format('woff2'),
  url("./TCCC-UnityText-Regular.woff") format('woff');
}


@font-face{
  font-family: 'TCCC-UnityHeadline-Regular_0';
  font-weight: 400;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
  src: url("./TCCC-UNITYHEADLINE-REGULAR_0.otf") format('opentype'),
  url("./TCCC-UNITYHEADLINE-REGULAR_0.eot?#iefix") format('eot'),
  url("./TCCC-UNITYHEADLINE-REGULAR_0.svg") format('svg'),
  url("./TCCC-UNITYHEADLINE-REGULAR_0.ttf") format('truetype'),
  url("./TCCC-UNITYHEADLINE-REGULAR_0.woff2") format('woff2'),
  url("./TCCC-UNITYHEADLINE-REGULAR_0.woff") format('woff');
}

@font-face{
  font-family: 'TCCC-UnityHeadline-Regular';
  font-weight: 400;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
  src: url("./TCCC-UnityHeadline-Regular.otf") format('opentype'),
  url("./TCCC-UnityHeadline-Regular.eot?#iefix") format('eot'),
  url("./TCCC-UnityHeadline-Regular.svg") format('svg'),
  url("./TCCC-UnityHeadline-Regular.ttf") format('truetype'),
  url("./TCCC-UnityHeadline-Regular.woff2") format('woff2'),
  url("./TCCC-UnityHeadline-Regular.woff") format('woff');
}

@font-face{
  font-family: 'TCCC-UnityText-Black';
  font-weight: 800;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
  src: url("./TCCC-UnityText-Black.otf") format('opentype'),
  url("./TCCC-UnityText-Black.eot?#iefix") format('eot'),
  url("./TCCC-UnityText-Black.svg") format('svg'),
  url("./TCCC-UnityText-Black.ttf") format('truetype'),
  url("./TCCC-UnityText-Black.woff2") format('woff2'),
  url("./TCCC-UnityText-Black.woff") format('woff');
}

